div {
    background: linear-gradient(rgb(144, 214, 144),rgb(229, 229, 102),rgb(215, 113, 113));
    border-radius: 7%;
    width:200px;
    height:400px;
    padding: 10em;
    box-shadow: black ,4px , 8px;
   
    justify-self: (4,3,3);

}
.card {
    font-size:50px;
    text-decoration: wavy;
    font: bolder;
    text-align: left;
    ;
}

.baem {
    background: image-set();
}